/* Body */

body {
  position: relative;
}


/* Menu */

.menu {
  background: #555753 url('../images/grayColor.jpg') repeat left top;
  right: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}


.menu ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #555;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu li:hover {
  cursor: pointer;
  background-color: #555;
  }

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 6px;

}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-right: 25px;
  padding-bottom: 25px;

  text-decoration: none;
  text-transform: uppercase;
}

.icon-menu img {
  margin-right: 5px;
}

.someTable {
  background-color: rgba(255,0,0,0.5);
  color: #ffe; /* Цвет текста */
  text-align: left; /* Выравнивание по левому краю */
  font-family: Arial, Helvetica, sans-serif; /* Выбор гарнитуры */
  font-size: 0.9em; /* Размер текста */
}

.dependent {
  margin: 20px;
  padding: 7px;
}
.hide {
  display: none;
}

.hideable { display:none }

.cityBox {
    width: 100%;	
    height: 200px;
}

.leftBox {
    width: 40%;
    height: 200px;
    float: left;
    position: relative;
}

.cBox {
    width: 19%;
    height: 200px;
    float: left;
    position: relative;
}

.rightBox {
	width: 40%;
	height: 200px;
	position: relative;
	float: left;
}

.leftSel {
	height: 200px;
	overflow: hidden;
}

.leftSel>select {
	height: 100%;
}

.rightSel {
	height: 200px;
/*	overflow: hidden; */
}

.rightSel>select {
	height: 100%;
}

.btnBox {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}