<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="USER-HOME" value="log" />

    <appender name="file-appender" class="ch.qos.logback.core.FileAppender">
        <file>${USER-HOME}/logistics.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="tools" level="debug" additivity="false">
        <appender-ref ref="file-appender" />
    </logger>

    <root level="debug">
    </root>

</configuration>